{% extends 'base.html.twig' %}

{% block bodyMain %}
    <br>
    <div align="center">
        <a href="{{ path('profile', {'username': app.user.username}) }}/display", class="btn btn-secondary">Show All Todos</a>

        <a href="{{ path('profile', {'username': app.user.username}) }}/newtodo", class="btn btn-success">Create Todo</a>
    </div>
    {% if todos %}
    <h2 class="page-header" >Todos: </h2>
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Todo</th>
            <th scope="col">Description</th>
            <th scope="col">Priority</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% else %}
            <h3>No todos yet!</h3>

        {% endif %}
    {% set index= (thisPage-1)*5 %}
        {% for todo in todos %}
        <tr>

            {% set index= index+1 %}
            <th scope="row">{{ index }}</th>
            <td>{{ todo.name }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.priority }}</td>

            <td>
                <a href="{{ path('profile', {'username': app.user.username}) }}/delete/{{ todo.id }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block footer %}
    <nav aria-label="...">
        {% if maxPages > 1 %}
            <ul class="pagination justify-content-center">
                {% for i in 1..maxPages %}
                    {% if i == thisPage %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="{{ path('display', {'username': app.user.username}) }}?page_num={{ i }}">{{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('display', {'username': app.user.username}) }}?page_num={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
{% endblock %}
